@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
:root{
    /* ### Primary */
 --clr-primary-200 : hsl(217, 28%, 15%); /*(intro and email sign up background) */
  --clr-primary-300 : hsl(218, 28%, 13%); /*(main background) */
 --clr-primary-400 : hsl(216, 53%, 9%); /* (footer background) */
 --clr-primary-100 : hsl(219, 30%, 18%); /* (testimonials background) */

/* ### Accent */
--clr-accent-cyan : hsl(176, 68%, 64%); /* (inside call-to-action gradient) */
--clr-accent-blue : hsl(198, 60%, 50%); /* (inside call-to-action gradient) */
--clr-accent-light-red : hsl(0, 100%, 63%); /* (error) */

/* ### Neutral */
--clr-neutral: hsl(0, 0%, 100%);
/* Fonts */
    --ff-body: 'Open Sans', sans-serif;
    --ff-header: 'Raleway', sans-serif;

/* z-index */
 --z-top: 10;
 --z-middle: 5;
 --z-bottom: -10;
}
/* Utilities */
.align-itms-cntr{ align-items: center; }
.clr-white{ color: var(--clr-neutral); }
.col_gap-1em{ column-gap: 1rem; }
.flex-class{display: flex; }
.flex-drct-col{flex-direction: column; }
.ff-raleway{ font-family: var(--ff-header); }
.ff-openSans{ font-family: var(--ff-body); }
.flex-center{
    justify-content: center;
    align-items: center;
}
.grid-class{ display: grid; }
.grid-drct-col{ grid-auto-flow: column; }
.gap-1em{ gap: 1em; }
.max-width{ max-width: 100%; }
.padding-2em{ padding: 2em; }
/* Styling */
html{
    font-size: 14px;
    height: 100%;
    width: 100%;
}
body{
    background: var(--clr-primary-200);
}
h1,h2,h3,h4{
    font-family: var(--ff-header);
}
h1{
    font-size: 2.5rem;
} 
h3{
    font-size: 1.4rem;
}
p, span{
    font-size: 1rem;
    font-family: var(--ff-body); 
}
a{
    color: var(--clr-neutral);
    text-decoration: none;
    font-family: var(--ff-body);
}

li{
    list-style: none;
}
/* interaction elements Buttons and input */
button{
    font-family: var(--ff-header);
    background: linear-gradient(to right,var(--clr-accent-cyan),var(--clr-accent-blue));
    color: var(--clr-neutral);
    border: none;
    border-radius: 50px;
    font-weight: 550;
    padding: .5em 3em;
    cursor: pointer;
    position: relative;
}
button::after{
    content: '';
    width: 100%; height: 100%;
    position: absolute;
    background: hsl(0, 0%, 100%);
    top: 0; left: 0;
    transition: all 0.5s;;
    border-radius: inherit;
    opacity: 0;
}
button:hover::after{
    opacity: .4;
}
input{
    border: none;
    outline: none;
    font-family: var(--ff-header);
    padding: 1.2em;
    border-radius: 50px;
}
/* header */
header{
    justify-content: space-between;
    margin-bottom: 5em;
}
nav a{
    opacity: .6;
}
nav a:hover{
    opacity: 1;
    font-weight: 600;
    text-decoration: underline;
}

/* intro */
.intro{
    padding: 2em 1em 0 1em;
  
}
.intro__img{
    margin: 0 auto 5em auto;
    display: flex;
}

.curvy-bg img{
    display: block;
    width: 100%;
}

.call-to-action-top{
    text-align: center;
    align-items: center;
    gap: 2em;
}
.call-to-action-top p{
    font-size: clamp(1rem,1.8rem,2rem);
}
.call-to-action-top button{
    font-size: 1rem;
    padding: 1em 5em;
}

/* main */
.main-wrapper-class{
    background: var(--clr-primary-300);
    padding: 0 1em 0 1em;
}
/* Features */
.features{
    gap: 4em;
}
.features section{
   display: flex;
   flex-direction: column;
   gap: 2em;
   align-items: center;
}
/* fylo motto styling */
.fylo_motto{
    gap: 2em;
    grid-auto-columns: 1fr;
}
a.fylo_motto-action-item{
    padding-bottom: .5em;
    color: var(--clr-accent-cyan);
    border-bottom: 1px solid var(--clr-accent-cyan);
}
/* testimonial */
.testimonials{
    flex-direction: column;
    padding: 2em 2em 0 2em;
    font-family: var(--ff-body);
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: top 0% left 1em;
}
.testimonial{
    background: var(--clr-primary-100);
    border-radius: .5em;
    padding: 1.5em;
    gap: 1em;
}
.testimonial-info{
    gap: 1em;
}
.testimonial-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testimonial-info > span > p{
    font-size: 10px;
}
/* call to action */
.section__cta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action-bottom{
    background: var(--clr-primary-200);
    position: relative;
    transform: translateY(50%);
    border-radius: .5em;
    padding: 3.5em;
    gap: 1em;
    flex-direction: column;
    align-items:center;
    box-shadow: 7px 7px hsla(0, 0%, 0%, .12);
}
.form{
    width: 100%;
}
/* footer */
footer{
    background: var(--clr-primary-400);
    padding: min;
}
.footer__details{
    padding: 15em 1em 1em;
}
.footer__wrapper{
    gap: 4em;
}
.logo-footer{
    margin-bottom: 2em;
}
.icon{
    width:  14px;
}
.phone{
    margin-bottom: 1em;
}
.contact-info > div > img{
    margin-right: 1em;
}
/* social icons */
.social-icons{
    justify-content: center;
    gap: 1em;
}
.circles{
   justify-content: center;
   align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--clr-neutral);
    border-radius: 50%;
}
i:hover,
.social-icons > a > div:hover{
    color: var(--clr-accent-cyan);
    border-color: var(--clr-accent-cyan);
}

.attribution { font-family: var(--ff-header); font-size: 1rem; text-align: center; }
.attribution a { color: var(--clr-accent-blue); }
/* media screens */
@media screen and (max-width: 700px) {
    /* navigation bar */
    .logo{
        width: 85px;
    }
    .intro{
        padding: 2em 1em 0 1em;
    }
    nav{
        font-size: .8rem;
        gap: 2em; 
    }
    .main__content{
        background-size: 100% ;
        background-image: url("../images/bg-curvy-mobile.svg");
        background-repeat:  no-repeat;
    }
    input::placeholder{
        text-align: center;
    }
    .testimonials{
        gap: .8em;
    }
}

@media screen and (min-width: 700px) {
    .main__content{
        background-image: url("../images/bg-curvy-desktop.svg");
        background-repeat:  no-repeat;
        background-size: 100% 100%;
    }
    .call-to-action-top{
        position: relative;
        transform: translateY(-15%);
    }
    .form input{
        flex-grow: 2;
    }
    .testimonials{
        gap: 3em;
    }
}
@media screen and (min-width:1000px){
    nav{
        gap: 3em;
    }
    .intro{
        padding: 5em 5em 0 5em;
    }
    .main__content{
        padding: 0 25% 10em 25%;
    }
    .fylo_motto{
        align-items: center;
        grid-auto-flow: column;
    }
    .features{
        grid-template-columns: auto auto;
        margin: 0 20em;
    }
    .testimonials{
        flex-direction: row;
        margin: 0 10em;
        padding: 2em 0 0 0;
    }
    .call-to-action-bottom{
        margin: 0 22em;
    }
    .footer__wrapper{
        grid-auto-flow: column;
        grid-auto-columns: 2fr 1fr 1fr 1fr;
    }
    .footer__details-col1{
        grid-auto-flow: column;
        column-gap: 4em;
    }
}
@media screen and (max-width:1175px) {
    .form{
        flex-direction: column;
    }
    .form button{
        padding: 1em 3em;
    }
    .footer__details-col1{ gap: 1em; }
}